## User Data

*.xcuserdatad

## entitlements should be generated using xcodegen
*.entitlements

# notes
notes

## OS X
*.DS_Store
.DS_Store

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# fastlane
# https://docs.fastlane.tools/best-practices/source-control/#source-control

.build
.swiftpm
.idea
Info.plist
*.xcworkspace
*.framework
*.xcframework
*.pbxproj
*.xcodeproj
*.lock
local-packages/